<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Оставьте отзыв</h4>
</div>
<div class="modal-body">
    <p class="modal-text" style="word-break: break-all">
        Вам нравится FHQ 2015? <br />
        Напишите нам Ваши впечатления: что понравилось и не понравилось, какие будут пожелания на следующий год. <br />
        Ждем Ваших писем на <a href="mailto:freehackquest@gmail.com">freehackquest@gmail.com</a>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Нет, спасибо</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Хорошо</button>
</div>