<div class="container">
    <div class="affix mainbar navbar-inverse" style="left:0px">
        <ul class="menu">
            <a href="#index"><li class="item active item_index"><span class="icon glyphicon glyphicon-stats">&nbsp;</span><span>Монитор</span></li></a>
            <a href="#service"><li class="item item_service"><span class="icon glyphicon glyphicon-hdd">&nbsp;</span><span>Сервисы</span></li></a>
            <a href="#teams"><li class="item item_users"><span class="icon glyphicon glyphicon-user">&nbsp;</span><span>Команды</span></li></a>
            <a href="#config"><li class="item item_config"><span class="icon glyphicon glyphicon-cog">&nbsp;</span><span>Конфиг</span></li></a>
        </ul>
        <ul class="menu return-to-site">
            <a href="/index.html" target="_blank"><li class="item"><span class="icon glyphicon glyphicon-share-alt">&nbsp;</span><span>На сайт</span></li></a>
        </ul>
    </div>
    <div id="page">

    </div>

</div>