<div class="container">
    <div class="timer row" id="timerStart">
        <div class="col-md-12 text" style="margin-bottom: 30px;">До начала игры</div>
        <div class="col-md-3 hours">-</div>
        <div class="col-md-1">:</div>
        <div class="col-md-4 minutes">--</div>
        <div class="col-md-1">:</div>
        <div class="col-md-3 seconds">--</div>
        <div class="col-md-3 text text-hours">часа</div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-4 text text-minutes">минуты</div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-3 text text-seconds">секунд</div>
    </div>
</div>